name: Release dev

on:
  workflow_dispatch:

env:
  COMPONENT_DIR: aula

jobs:
  release_zip_file:
    name: Prepare release asset
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Create zip
        run: |
          cd custom_components/aula
          zip aula.zip -r ./
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@2.11.2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./custom_components/aula/aula.zip
          asset_name: aula.zip
          tag: ${{ github.ref }}
          overwrite: true
